<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsTrade.web.villeage.mapper.DproducttypeMapper">

	<sql id="villeageDproducttypeColumns">
		id,name,create_by,create_date,del_flag,villageid
	</sql>

</mapper>
